  	
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title>Gramafon</title>
<style type="text/css">


#framecontentRight{
float: left;
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: black;
width: 33%;
}

#framecontentLeft{
float: left;
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: green;
width: 33%;
}


#framecontent{
float: left;
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: yellow;
width: 33%;

}
</style>


</head>

<body>
	
	<div>
	<form action="/anasayfa/" method="post">
	<div id="framecontentLeft">
		<h2> Merhaba </h2>

	</div>

	<div id="framecontentRight">
		adsdssfsfsfdfdfdf
	</div>

	<div id="framecontent" >
		dsffgfhgjhöökkjj
	</div>
	</form>
	</div>

</body>
</html>
