<html>
<head>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.all.js"></script>
<script type="text/javascript" src="/static/js/jquery.layout.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		 var alphabet =["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","1","2","3","4","5","6","7","8","9"];

                 var myLayout = $('body').layout();
		 myLayout.sizePane("west", 400); // en dogudakinin buyuklugunu belirledik
                 myLayout.sizePane("east", 400);	 
		$("#" + alphabet[0]).click(function(){
			$("." + alphabet[0]).show();
		});

		
            
		$.ajax({
     			url: "/api/song/?format=json",
     			error: function(obj){
         		alert(obj.status + "\n" + obj.statusText);
     			},
     			success: function(obj) {
				var obj = JSON.parse(obj); //Parsed jsonstring
				var currentobj = obj.objects
				for (var i=0; i<currentobj.length; i++){ //objects dizinine bakıyor, isimleri yazdırıyor
					for(var j=0; j<=26; j++){
					if (currentobj[i].title != "" && (currentobj)[i].title[0].toUpperCase() == alphabet[j]){
						$('.' + alphabet[j]).append('<li>' + (obj.objects)[i].title + ' </li>');	
					}
					
					}	
				}
			}	
		});
	});
</script>

<style type="text/css">
	.ui-layout-pane { /*arkaplani beyaz, 1 piksel cerceveli ve ice dogru 10 piksel bosluk birakilan bir eleman*/
		background: #FFF;
		border: 1px solid #BBB;
		padding: 10px;
		overflow: auto;
		}

	.ui-layout-resizer { /* all 'resizer-bars' */
		background: #DDD;
	}

	.ui-layout-toggler { /* all 'toggler-buttons' */
		background: #AAA;
	}
	.ui-layout-west {
		background: red;	
	}
	.ui-layout-east {
		background: blue;
	}
	.ui-layout-center {
		background: green;
	}
	
	.A{

			display: none;
	}
</style>
</head>
<body>
	<div class="ui-layout-west">
	<ul>
	<li id="A">A</li>
	<li class="A"></li>
	</ul>
	
	</div>
	<div class="ui-layout-center">Center</div>
	<div class="ui-layout-east">East</div>
</body>
</html>
