<!DOCTYPE html>

<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }

</style>

<body ng-app="gramafonApp">
<div ng-controller="gramafonController">

    <div>
        SEARCH:
        <input type="text" ng-model="arama" placeholder="Aramak icin bir seyler girin">
    </div>
    <table id="gramafon" style="width:100%">
        <thead>
        <th>
            Artist
        </th>
        <th>
            Album
        </th>
        <th>
            Title
        </th>

        <th>
            Song Path
        </th>
        <th>
            Play
        </th>
        <thead>
        <tbody>
        {% for song_info in song_info_list %}
        <tr>
            <th>
                {{ song_info['artist'] }}
            </th>
            <th>
                {{ song_info['album'] }}
            </th>
            <th>
                {{ song_info['title'] }}
            </th>
            <th>
                {{ song_info['path'] }}
            </th>
            <th>
                <button name="play" ng-click="play('{{song_info['path']}}')">P</button>
            </th>
        </tr>
        {% endfor %}
        </tbody>

    </table>

    <div>
        <button name="stop" ng-click="stop()">STOP</button>
    </div>
</div>
</body>
</html>

<script>
    var app = angular.module("gramafonApp",[]);

   	app.controller("gramafonController", function($scope, $http){

        $scope.play = function(song_path){
            $http({
 			    method: 'POST',
 				url: '/play',
 				data: angular.fromJson({"song": song_path})
 			}).then(successCallback , errorCallback);

 		    function successCallback(response) {
                console.log(response);
 			};
 			function errorCallback(response) {
                console.log(response);
  		    };
		};

	    $scope.stop = function(){
            $http({
 			    method: 'POST',
 				url: '/stop'
 			}).then(function successCallback(response) {
 			    console.log(response);

            }, function errorCallback(response) {
                console.log(response);

  		    });
		};

	});

	$(document).ready(function () {
            $('#gramafon').DataTable({
            });
    });




</script>
